body {
  background-image: url("./Images/hall.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
}

.img-logo {
  height: 400px;
  width: 300px;
  grid-column: 3 / 5;
}
.nav {
  display: flex;
  justify-content: space-around;
  min-height: auto;
  list-style: none;
  margin: 1rem;
  font-size: 40px;
  font-family: "Fascinate", cursive;

  color: #1cb8bd;
  font-family: "Fascinate", cursive;
  text-shadow: 2px 2px black;
}

.nav a p {
  color: #00ff73;
}

.nav a {
  text-decoration: none;
}

.footer {
  background-color: #010000;
  color: white;
  /* padding: 2px; */
  font-size: 33px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  /* height: 30%;
  text-shadow: 2px 2px #ff0000; */
  text-align: center;
}

.footer img {
  height: 70px;
  /* display: flex; */
  justify-content: center;
}

/* Enter Button */

/* End of Enter Button */

/* cursor: pointer;
  width: 300px;
  height: 200px;
  border: none; */
